<label class="inline-flex items-center">
    <input type="hidden" name="{{ handle }}" value="0">
    <input
        class="border-neutral focus:border-primary text-primary w-4 h-4 mr-3 relative rounded"
        type="checkbox"
        name="{{ handle }}"
        value="{{ value }}"
        {{ value ?= 'value="{value}"' }}
        {{ checked ?= 'checked' }}
        {{ id ?= 'id="{id}"'}}
        {{ error ?= 'aria-describedby="error-{id}"' }}
    >
    <span class="text-sm">
        {{ trans :key="label" }}
        {{ slot }}
    </span>
</label>