<form 
    class="p-6 lg:p-8 rounded-lg border flex flex-col gap-4 items-start"
    action="{{ route:auth.account.password.update }}"
    method="POST"
    novalidate
>
    <input type="hidden" name="_token" value="{{ csrf_token }}" />
    {{ partial:statamic-auth::method method="PATCH" }}

    <h1 class="text-xl">{{ trans key="statamic-auth::strings.account.password.title" }}</h1>
    
    <div class="flex flex-col gap-2 w-full">
        <label for="current_password" class="text-sm">{{ trans key="statamic-auth::strings.fields.current_password.label" }}</label>

        {{ partial:statamic-auth::components/error 
            id="current_password" 
            error="{get_error:current_password}"
        }}

        <input 
            class="w-full rounded caret-primary border-neutral focus:border-primary {{ {get_error:email} ?= 'border-red-600 focus:border-red-600 !outline-red-600/50' }}" 
            id="current_password" 
            name="current_password" 
            type="password" 
            {{ {get_error:current_password} ?= 'aria-describedby="error-current_password"' }}
        >
    </div>

    <div class="flex flex-col gap-2 w-full">
        <label for="new_password" class="text-sm">{{ trans key="statamic-auth::strings.fields.new_password.label" }}</label>

        {{ partial:statamic-auth::components/error 
            id="new_password" 
            error="{get_error:new_password}"
        }}

        <input 
            class="w-full rounded caret-primary border-neutral focus:border-primary {{ {get_error:email} ?= 'border-red-600 focus:border-red-600 !outline-red-600/50' }}" 
            id="new_password" 
            name="new_password" 
            type="password" 
            {{ {get_error:new_password} ?= 'aria-describedby="error-new_password"' }}
        >
    </div>

    <div class="flex flex-col gap-2 w-full">
        <label for="new_password_confirmation" class="text-sm">{{ trans key="statamic-auth::strings.fields.new_password_confirmation.label" }}</label>

        {{ partial:statamic-auth::components/error 
            id="new_password_confirmation" 
            error="{get_error:new_password_confirmation}"
        }}

        <input 
            class="w-full rounded caret-primary border-neutral focus:border-primary {{ {get_error:email} ?= 'border-red-600 focus:border-red-600 !outline-red-600/50' }}" 
            id="new_password_confirmation" 
            name="new_password_confirmation" 
            type="password" 
            {{ {get_error:new_password_confirmation} ?= 'aria-describedby="error-new_password_confirmation"' }}
        >
    </div>

    <button class="w-max bg-primary px-3 py-1.5 rounded-lg text-white hover:bg-primary">{{ trans key="statamic-auth::strings.account.password.button_label" }}</button>

</form>