<form 
    class="max-w-lg w-full mx-auto p-6 lg:p-8 rounded-lg border flex flex-col gap-4 items-start"
    action="{{ route:auth.password.email }}"
    method="POST"
    novalidate
>
    <input type="hidden" name="_token" value="{{ csrf_token }}" />
    
    {{ partial:statamic-auth::components/error_summary }}

    <h1 class="text-xl">Forgot Password</h1>

    <div class="flex flex-col gap-2 w-full">
        <label for="email" class="text-sm">Email</label>

        {{ get_error:email }}
            <span
                class="block text-red-500 text-sm"
                id="error-email"
            >{{ message }}</span>
        {{ /get_error:email }}

        <input 
            class="w-full rounded caret-primary border-neutral focus:border-primary {{ {get_error:email} ?= 'border-red-600 focus:border-red-600 !outline-red-600/50' }}" 
            id="email" 
            name="email" 
            type="text" 
            placeholder="Enter your email" 
            autocomplete="email"
            {{ {get_error:email} ?= 'aria-describedby="error-email"' }}
        >
    </div>

    <button class="w-max bg-primary px-3 py-1.5 rounded-lg text-white hover:bg-primary text-base">Submit</button>
</form>

<div class="max-w-lg mx-auto p-6 lg:p-8 text-sm">
    <a href="{{ route:auth.login }}" class="hover:underline">Back to login</a>
</div>