{{ if {session:has key="success"} }}
    {{ session }}
        <div
            role="status"
            class="max-w-lg mx-auto mb-4 w-full p-4 border border-green-300 rounded-lg lg:p-6 bg-white"
        >
            {{ success }}
        </div>
    {{ /session }}
{{ /if }}
<form 
    class="max-w-lg w-full mx-auto p-6 lg:p-8 rounded-lg border flex flex-col gap-4 items-start"
    action="{{ route:auth.login.store }}"
    method="POST"
    novalidate
>
    <input type="hidden" name="_token" value="{{ csrf_token }}" />

    {{ partial:statamic-auth::components/error_summary }}

    <h1 class="text-xl">{{ trans key="statamic-auth::strings.login.title" }}</h1>

    <div class="flex flex-col gap-2 w-full">
        <label for="email" class="text-sm">{{ trans key="statamic-auth::strings.fields.email.label" }}</label>

        {{ partial:statamic-auth::components/error 
            id="email" 
            error="{get_error:email}"
        }}

        <input 
            class="w-full rounded caret-primary border-neutral focus:border-primary {{ {get_error:email} ?= 'border-red-600 focus:border-red-600 !outline-red-600/50' }}" 
            id="email" 
            name="email" 
            type="text" 
            placeholder="{{ trans key="statamic-auth::strings.fields.email.placeholder" }}" 
            autocomplete="email"
            {{ {get_error:email} ?= 'aria-describedby="error-email"' }}
            {{ {old:email} ?= 'value="{old:email}"'}}
        >
    </div>

    <div class="flex flex-col gap-2 w-full">
        <label for="password" class="text-sm">{{ trans key="statamic-auth::strings.fields.password.label" }}</label>

        {{ partial:statamic-auth::components/error 
            id="password" 
            error="{get_error:password}"
        }}

        <input 
            class="w-full rounded caret-primary border-neutral focus:border-primary {{ {get_error:email} ?= 'border-red-600 focus:border-red-600 !outline-red-600/50' }}" 
            id="password" 
            name="password" 
            type="password" 
            autocomplete="password"
            {{ {get_error:password} ?= 'aria-describedby="error-password"' }}
        >

    </div>

    {{ partial:statamic-auth::components/checkbox 
        handle="remember"
        value="false"
        label="{{ trans key='statamic-auth::strings.fields.remember_me.label' }}"
        :old="old:remember"
    }}

    <div class="flex justify-between w-full items-center">
        <button class="w-max bg-primary px-3 py-1.5 rounded-lg text-white hover:bg-primary text-base">Submit</button>
        <a 
            href="{{ route:auth.password.request }}"
            class="text-sm"
        >{{ trans key='statamic-auth::strings.login.forgot_password_link' }}</a>
    </div>

    {{ if config:services:google.client_id }}
        <a 
            href="{{ route:auth.google.redirect }}"
            class="w-max bg-neutral px-3 py-1.5 rounded-lg text-white hover:bg-primary"
        >
            {{ trans key='statamic-auth::strings.login.socialite.google' }}
        </a>
    {{ /if }}

    {{ if config:services:github.client_id }}
        <a 
            href="{{ route:auth.github.redirect }}"
            class="w-max bg-neutral px-3 py-1.5 rounded-lg text-white hover:bg-primary"
        >
            {{ trans key='statamic-auth::strings.login.socialite.github' }}
        </a>
    {{ /if }}

    {{ if config:services:facebook.client_id }}
        <a 
            href="{{ route:auth.facebook.redirect }}"
            class="w-max bg-neutral px-3 py-1.5 rounded-lg text-white hover:bg-primary"
        >
            {{ trans key='statamic-auth::strings.login.socialite.facebook' }}
        </a>
    {{ /if }}
</form>

