<div 
    class="max-w-lg w-full mx-auto p-6 lg:p-8 rounded-lg border flex flex-col gap-4 items-center"
>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 text-red-600">
        <path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
    </svg>
      
    <h1 class="text-xl">{{ title }}</h1>

    <p>{{ message }}</p>

    {{ if error_type == 'token_expired' }}
        <p>Your link has expired for security reasons. Password reset links are valid for {{ config:auth:passwords:users:expire }} minutes.</p>
    {{ /if }}
</div>

<div class="max-w-lg mx-auto p-6 lg:p-8 text-sm flex flex-wrap gap-4">
    <a href="{{ route:auth.password.request }}" class="hover:underline">Request New Reset Link</a>
    <a href="{{ route:auth.login }}" class="hover:underline">Back to login</a>
</div>