<form 
    class="max-w-lg w-full mx-auto p-6 lg:p-8 rounded-lg border flex flex-col gap-4 items-start"
    action="{{ route:auth.password.update }}"
    method="POST"
    novalidate
>
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <input type="hidden" name="token" value="{{ token }}">
    <input type="hidden" name="email" value="{{ get:email }}">
    
    {{ partial:statamic-auth::components/error_summary }}

    <h1 class="text-xl">Reset Password</h1>

    <div class="flex flex-col gap-2 w-full">
        <label for="password" class="text-sm">Password</label>

        {{ partial:statamic-auth::components/error 
            id="password" 
            error="{get_error:password}"
        }}

        <input 
            class="w-full rounded caret-primary border-neutral focus:border-primary {{ {get_error:email} ?= 'border-red-600 focus:border-red-600 !outline-red-600/50' }}" 
            id="password" 
            name="password" 
            type="password" 
            autocomplete="password"
            {{ {get_error:password} ?= 'aria-describedby="error-password"' }}
        >

    </div>

    <div class="flex flex-col gap-2 w-full">
        <label for="password_confirmation" class="text-sm">Confirm Password</label>

        {{ partial:statamic-auth::components/error 
            id="password_confirmation" 
            error="{get_error:password_confirmation}"
        }}

        <input 
            class="w-full rounded caret-primary border-neutral focus:border-primary {{ {get_error:email} ?= 'border-red-600 focus:border-red-600 !outline-red-600/50' }}" 
            id="password_confirmation" 
            name="password_confirmation" 
            type="password" 
            autocomplete="password"
            {{ {get_error:password_confirmation} ?= 'aria-describedby="error-password_confirmation"' }}
        >

    </div>

    <div class="flex justify-between w-full items-center">
        <button class="w-max bg-primary px-3 py-1.5 rounded-lg text-white hover:bg-primary text-base">Reset Password</button>
    </div>
</form>