<div class="max-w-lg w-full mx-auto flex flex-col gap-4 lg:gap-8">
    {{ partial:statamic-auth::components/error_summary }}
    {{ if {session:has key="success"} }}
        {{ session }}
            <div
                role="status"
                class="w-full p-4 border border-green-300 rounded-lg lg:p-6 bg-white"
            >
                {{ success }}
            </div>
        {{ /session }}
    {{ /if }}
    
    {{ partial:statamic-auth::components/update_details_form }}

    {{ partial:statamic-auth::components/update_password_form }}

</div>