<div class="max-w-lg w-full mx-auto flex flex-col gap-4 lg:gap-8">
    {{ partial:statamic-auth::components/error_summary }}
    {{ if {session:has key="success"} }}
        {{ session }}
            <div
                role="status"
                class="w-full p-4 border border-green-300 rounded-lg lg:p-6 bg-white"
            >
                {{ success }}
            </div>
        {{ /session }}
    {{ /if }}

    {{ if {session:has key="error"} }}
        {{ session }}
            <div
                role="status"
                class="w-full p-4 border border-red-300 rounded-lg lg:p-6 bg-white"
            >
                {{ error }}
            </div>
        {{ /session }}
    {{ /if }}
    
    {{ partial:statamic-auth::components/update_details_form }}

    {{ if config:statamic-auth.account.users_can_update_password }}
        {{ partial:statamic-auth::components/update_password_form }}
    {{ /if }}
    
    {{ if config:statamic-auth:two_factor.enabled }}
        {{ partial:statamic-auth::components/two_factor_widget }}
    {{ /if }}
        
    <div class="flex gap-4">
        {{ if config:statamic-auth.account.users_can_delete_account }}
            <form action="{{ route:auth.account.delete }}" method="POST">
                {{ partial:statamic-auth::method method="DELETE" }}
                <input type="hidden" name="_token" value="{{ csrf_token }}">
                <button class="w-max bg-red-600 px-3 py-1.5 rounded-lg text-white hover:bg-red-700 text-base">{{ trans key="statamic-auth::strings.account.delete_account.button" }}</button>
            </form>
        {{ /if }}

        <form action="{{ route:auth.logout }}" method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token }}">
            <button class="w-max bg-gray-500 px-3 py-1.5 rounded-lg text-white hover:bg-gray-600 text-base">{{ trans key="statamic-auth::strings.log_out" }}</button>
        </form>
    </div>
</div>